*{
    box-sizing: border-box;

}

body{
    margin: 0;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1.5s;
}

nav{
    margin: 0;
    border: 2px solid black;
    padding: 20px;
    background-color: #555555;
}

.logo{
    padding: 18px;
    width: 10rem;
}

.userProfileSection{
    font-weight: 800;
    font-size: 1.5rem;
    float: right;
    justify-self: center;
    background-color:red;
    margin: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
}

.editMode{
    display: flex;
    border: 0.2px solid black;
    margin: 15px;
    justify-content: right;
    padding: 5px;
    margin: 5px;
    gap: 8px;
}

.switch-container{
    position: relative;
    display: inline-block;
    border: 0.2px solid rgb(173, 173, 173);
    width: 64px;
    height: 34px;
    border-radius: 15px;
    background-color: rgb(171, 166, 166);
    transition: 1s;
}



.switch-checkbox{
    opacity: 0;
}

.switch-ball{
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #000;
    bottom: 4px;
    left: 4px;
    border-radius: 50%;
    transition: 1s;
}

.switch-checkbox:checked + .switch-ball{
    transform: translateX(26px);
}

.switch-container:has(.switch-checkbox:checked){
    background-color: #3eb172;
}

body:has(.switch-checkbox:checked){
    background-color: #303131;
    color: #fff;
}
.previewBox{
    width: 100%;
    height: 100%;
    border: 2px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.embeddedWebsite{
    position: relative;
    width: 80%;
    height: 90vh;
   justify-content: center;
text-align: center;
   /* text-align: center; */
}

.previewEditBtn{
    position: absolute;
    z-index: 3;
    padding: 10px;
    margin: 10px;
    left: 100px;
    top: 250px;
}

.preview{
    border: 2px solid black;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.previewBtn{
    padding: 10px;
    width: 70%;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
}

.previewBtn:hover{
     background-color: #000;
     color: #fff;
     cursor: pointer;
}

footer{
    height: 100px;
    background-color: #000;
}