*{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1.5s;
    background-color: #aeaeae;
}

nav{
    margin: 0;
    padding: 0;
    border: 2px solid black;
    padding: 20px;
    background-color: #555555;
}

.logo{
    padding: 18px;
    width: 10rem;
}

.editMode{
    display: flex;
    border: 0.2px solid black;
    margin: 15px;
    justify-content: right;
    padding: 5px;
    margin: 5px;
    gap: 8px;
}

.switch-container{
    position: relative;
    display: inline-block;
    border: 0.2px solid rgb(173, 173, 173);
    width: 64px;
    height: 34px;
    border-radius: 15px;
    background-color: rgb(171, 166, 166);
    transition: 1s;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px black;
}



.switch-checkbox{
    opacity: 0;
}

.switch-ball{
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #000;
    bottom: 4px;
    left: 4px;
    border-radius: 50%;
    transition: 1s;
}

.switch-checkbox:checked + .switch-ball{
    transform: translateX(26px);
}

.switch-container:has(.switch-checkbox:checked){
    background-color: #3eb172;
}

body:has(.switch-checkbox:checked){
    background-color: #000000;
    color: #d2d2d2;
}

.sectionTitle{
    padding: 15px;
    margin: 15px;
    font-size: 1.35rem;
    font-weight: 700;
    color: #00b427;
}

.overviewContainer{
    border-radius: 15px;
    background-color: #767676;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 1.2rem;
    margin: 1.5rem;
    gap: 1.2rem;
}

.totalAmount, .numberOfMembers{
   box-shadow: 5px 5px 5px 2px #00b427;
    display: grid;
    grid-template-rows: 1fr;
    padding: 26px;
    gap: 20px;
    border-radius: 20px;
    background-color: rgb(3, 3, 3);
}

.number{
    font-size: 2.5rem;
    font-weight: 800;
    color: #00b427;
}

.overviewText{
    font-size: 1.15rem;
    font-weight: 700;
    color: #6d6d6d;
}

.actionBtnSection{
    display: grid;
    justify-self: stretch;
    padding: 25px;
    margin: 25px;
    grid-template-rows: 1fr;
    gap: 8px;
     background-color: #5a5a5a;
    border-radius: 10px;
    
}

.actionBtn,.recAddMember{
    font-size: 1.15rem;
    padding: 18px;
    font-weight: 600;
    width: 100%;
    background-color: #000000;
    color: #00b427;
    transition: 0.5s;
    border: none;
}

.actionBtn:hover{
    background-color: #242424;
    transform: scale(1.01);
    box-shadow: 2px 2px 2px #00b427;
}

footer{
    height: 40px;
    background-color: #303030;
}


/* Records page styling */
.recordsActions{
    /* border: 2px solid red; */
    margin: 5px;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    background-color: #929191;
    border-radius: 10px;
    
}

.searchMember, .recAddMember{
    padding: 8px;

}

.recAddMember{
    background-color: #01a525a0;
    color: #000000;
    box-shadow: 2px 2px 2px 2px #000;
    border-radius: 2px;
    transition: 1s;
}

.recAddMember:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.searchMember:focus{
   outline: 2px solid red;
}

.tableWrapper{
    overflow-x: scroll;
}

.recordsTable{
    border: 1.5px solid #606060;
    width: 98%;
    border-collapse: collapse;
    margin: 0 auto;
}

th,td{
    border: 0.5px solid #7d7d7d;
    text-align: center;
    padding: 10px;
}



th{
    background-color: #000;
    color: #00b427;
    font-size: 1.3rem;
}

td{
    font-size: 1.12rem;
}

tr:nth-child(even){
    background-color: #929191;
}

.icon{
    width: 2rem;
}

/* change it later by using classes */





































@media (max-width: 768px) {

    .overviewContainer{
        grid-template-columns: 1fr;
    }

}