*{
    box-sizing: border-box;

}

body{
    margin: 0;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1.5s;
    background-color: #aeaeae;
}

nav{
    margin: 0;
    border: 2px solid black;
    padding: 20px;
    background-color: #555555;
}

.logo{
    padding: 18px;
    width: 10rem;
}

/* .userProfileSection{
    font-weight: 800;
    font-size: 1.5rem;
    float: right;
    justify-self: center;
    background-color:red;
    margin: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
} */

.editMode{
    display: flex;
    border: 0.2px solid black;
    margin: 15px;
    justify-content: right;
    padding: 5px;
    margin: 5px;
    gap: 8px;
}

.switch-container{
    position: relative;
    display: inline-block;
    border: 0.2px solid rgb(173, 173, 173);
    width: 64px;
    height: 34px;
    border-radius: 15px;
    background-color: rgb(171, 166, 166);
    transition: 1s;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px black;
}



.switch-checkbox{
    opacity: 0;
}

.switch-ball{
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #000;
    bottom: 4px;
    left: 4px;
    border-radius: 50%;
    transition: 1s;
}

.switch-checkbox:checked + .switch-ball{
    transform: translateX(26px);
}

.switch-container:has(.switch-checkbox:checked){
    background-color: #3eb172;
}

body:has(.switch-checkbox:checked){
    background-color: #000000;
    color: #d2d2d2;
}

.sectionTitle{
    padding: 15px;
    margin: 15px;
    font-size: 1.35rem;
    font-weight: 700;
    color: #3f41a5;
}

.overviewContainer{
    border-radius: 15px;
    background-color: #767676;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 1.2rem;
    margin: 1.5rem;
    gap: 1.2rem;
}

.totalAmount, .numberOfMembers{
   box-shadow: 5px 5px 5px 2px red;
    display: grid;
    grid-template-rows: 1fr;
    padding: 26px;
    gap: 20px;
    border-radius: 20px;
    background-color: rgb(3, 3, 3);
}

.number{
    font-size: 2.5rem;
    font-weight: 800;
    color: #00b427;
}

.overviewText{
    font-size: 1.15rem;
    font-weight: 700;
    color: #6d6d6d;
}

.actionBtnSection{
    display: grid;
    justify-self: stretch;
    padding: 25px;
    margin: 25px;
    grid-template-rows: 1fr;
    gap: 8px;
     background-color: #5a5a5a;
    border-radius: 10px;
    
}

.actionBtn{
    font-size: 1.15rem;
    padding: 18px;
    font-weight: 600;
    width: 100%;
    background-color: #000000;
    color: #fff;
    transition: 0.5s;
    border: none;
}

.actionBtn:hover{
    background-color: #242424;
    transform: scale(1.01);
    box-shadow: 2px 2px 2px #00b427;
}



/* .previewBox{
    width: 100%;
    height: 100%;
    border: 2px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.embeddedWebsite{
    position: relative;
    width: 80%;
    height: 90vh;
   justify-content: center;
text-align: center;
}

.previewEditBtn{
    position: absolute;
    z-index: 3;
    padding: 10px;
    margin: 10px;
    left: 100px;
    top: 250px;
}

.preview{
    border: 2px solid black;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.previewBtn{
    padding: 10px;
    width: 70%;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
}

.previewBtn:hover{
     background-color: #000;
     color: #fff;
     cursor: pointer;
} */

footer{
    height: 40px;
    background-color: #303030;
}